.updateUser{
    text-align: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    position: absolute;
    top: 150px;
    padding-bottom: 100px;
    .double-input{
        display: flex;
        justify-content: space-evenly;
        span{
            width: 100%;
        }
    }
}
.formDemoUpdateUser{
    &-div{
        padding: 14px;
    }
}
.btn-mode-color{
    padding: 5px 10px;
    border-radius: 10px;
    background-color: white;
    color: black;
}
.formDemoUpdateUser .card {
    
    min-width: 310px;
    background-color: $ago-greenLog;
}
.formDemoUpdateUser .card form {
    margin-top: 2rem;
}
.formDemoUpdateUser .card .field {
    margin-bottom: 1.5rem;
    
}
@media screen and (max-width: 960px) {
    .formDemoUpdateUser .card {
        width: 100%;
        padding: 0px;
    }
}
@media screen and (max-width: 640px) {
    .formDemo .card {
        width: 100%;
        min-width: 100px;
        padding: 0vw;
        
    }
    .updateUser .card {
        width: 100vw;
        margin-top: 330px;
        margin-bottom: 60px;
    }
}
