.companies-box {
  padding: 100px;
  background-color: rgb(227, 227, 228);
  &-title {
    text-align: center;
    border-bottom: 2px solid$ago-blueLIghtDark;
    overflow: hidden;
    white-space: nowrap;
    position: relative;
    &-p1 {
      animation: slideInOut 20s linear infinite;
      font-size: 20px;
      transform-origin: 100% 50%;
      display: inline-block;
    }
    &-p2 {
      animation: slideInOut2 20s linear infinite;
      font-size: 30px;
      position: absolute;
      top: 50px;
      left: 30%;
    }
  }
  h2 {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
  &-ul {
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0px;
    &-section {
      display: flex;
      overflow: hidden;
    }
  }
  .company-card {
    padding: 10px;
    margin: 10px;
    min-height: 300px;
    background-color: $ago-lightBlue;
    min-width: 550px;
    img {
      height: 140px;
      width: fit-content;
    }
  }
}
.btn-ceo {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: $ago-lightBlue;
}



.adsGalleyComponent {
  display: flex;
  overflow-x: auto;
  border-bottom: 0.5px black solid;
  padding: 20px;
}

.advertisement {
  padding: 5px 20px;
  margin-right: 10px;
  background-color: rgb(254, 255, 239);
  padding-top: 50px;
  min-width: 300px;
  box-shadow: 2px 2px 3px $ago-indigoDark;
  border-radius: 10px;
  position: relative;
  h5{
  border-bottom: 1px solid black;
  }
  p{
   border-bottom: 1px  solid rgba(0, 0, 0, 0.121);
  }
  button{
    position: absolute;
    bottom: 0;
    padding: 3px 5px;
    border-radius: 5px;
    background-color: rgb(0, 162, 255);
    margin-bottom: 5px;
  }
}

@keyframes slideInOut {
  0% {
    transform: translateX(110%); /* Inicia fuera de la vista a la derecha */
  }

  100% {
    transform: translateX(
      -120%
    ); /* Llega a la izquierda al final de la animación */
  }
}

@keyframes slideInOut2 {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
