.login{
    text-align: center;
    padding: 30vh 30vw;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-image: url("https://res.cloudinary.com/dxnzcewsy/image/upload/v1693452412/proyecto%20final/herramienta-imprescindibles_ryua2m.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    justify-content: center;
}
.formDemoLog .card {
    min-width: 450px;
    background-color: $ago-lightLog;
}
.formDemoLog .card form {
    margin-top: 2rem;
}
.formDemoLog .card .field {
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 960px) {
    .formDemoLog .card {
        width: 80%;
        padding: 0px;
        
    }
}
@media screen and (max-width: 640px) {
    .formDemo .card {
        width: 100%;
        min-width: 300px;
        padding: 0vw;
        
    }
}
