@charset "UTF-8";
body {
  font-family: var(--font-family);
  background-color: rgb(255, 255, 255);
}

* {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.mainLoader {
  width: 200px;
  position: absolute;
  margin: 30vh 43vw;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(farthest-side, currentColor calc(40% - 6px), rgba(0, 0, 0, 0) calc(40% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(40% - 13px), #000 calc(40% - 12px));
  border-radius: 50%;
  animation: l19 2s infinite linear;
}

.mainLoader::before,
.mainLoader::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center, linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}

.mainLoader::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
.mainLoader2 {
  width: 200px;
  position: absolute;
  margin: 30vh 43vw;
  aspect-ratio: 1;
  display: grid;
  color: #854f1d;
  background: radial-gradient(farthest-side, currentColor calc(60% - 6px), rgba(0, 0, 0, 0) calc(60% - 5px) 0);
  -webkit-mask: radial-gradient(farthest-side, rgba(0, 0, 0, 0) calc(60% - 13px), #000 calc(60% - 12px));
  border-radius: 50%;
  animation: l19 3s infinite linear;
}

.mainLoader2::before,
.mainLoader2::after {
  content: "";
  grid-area: 1/1;
  background: linear-gradient(currentColor 0 0) center, linear-gradient(currentColor 0 0) center;
  background-size: 100% 10px, 10px 100%;
  background-repeat: no-repeat;
}

.mainLoader2::after {
  transform: rotate(45deg);
}

@keyframes l19 {
  100% {
    transform: rotate(1turn);
  }
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 30;
}

.disconect-btn {
  background-color: transparent;
  font-size: 24px;
  border: none;
  margin-right: 10px;
}
.disconect-btn:hover {
  color: rgb(255, 172, 56);
}

.logo-img {
  margin: 0px 50px 0px 10px;
}

.navbar-name {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-name p {
  margin: 0px;
  padding-right: 20px;
}

.register {
  text-align: center;
  padding: 30vh 20vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dxnzcewsy/image/upload/v1693452412/proyecto%20final/herramienta-imprescindibles_ryua2m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  justify-content: center;
}

.formDemo .card {
  min-width: 450px;
  background-color: rgb(98, 148, 172);
}

.formDemo .card form {
  margin-top: 2rem;
}

.formDemo .card .field {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .formDemo .card {
    width: 80%;
    padding: 0px;
  }
}
@media screen and (max-width: 640px) {
  .formDemo .card {
    width: 100%;
    min-width: 300px;
    padding: 0vw;
  }
}
.login {
  text-align: center;
  padding: 30vh 30vw;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dxnzcewsy/image/upload/v1693452412/proyecto%20final/herramienta-imprescindibles_ryua2m.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
  justify-content: center;
}

.formDemoLog .card {
  min-width: 450px;
  background-color: rgb(255, 255, 255);
}

.formDemoLog .card form {
  margin-top: 2rem;
}

.formDemoLog .card .field {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .formDemoLog .card {
    width: 80%;
    padding: 0px;
  }
}
@media screen and (max-width: 640px) {
  .formDemo .card {
    width: 100%;
    min-width: 300px;
    padding: 0vw;
  }
}
.footer {
  text-align: center;
  align-items: center;
  margin: auto;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.buttonToggleLogReg {
  display: flex;
  justify-content: center;
}
.buttonToggleLogReg-btn {
  position: absolute;
}

.button-89 {
  --b: 3px;
  --s: .45em;
  --color: #ffffff;
  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(from 90deg at var(--b) var(--b), rgba(0, 0, 0, 0) 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid rgba(0, 0, 0, 0);
  outline-offset: 0.6em;
  border: 0;
  position: absolute;
  top: 10vh;
  font-size: 30px;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}

.btn-update {
  background-color: rgb(98, 148, 172);
  padding: 10px 15px;
  margin-top: 10px;
  transition: 0.4s ease-in-out;
  font-weight: 500;
}
.btn-update:hover {
  border-radius: 10px;
  border: 2px solid black;
}

.updateUser {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 430px;
  justify-content: center;
  margin: 20px;
  position: absolute;
  right: 0;
  top: 50px;
}
.updateUser .double-input {
  display: flex;
  justify-content: space-evenly;
}

.formDemoUpdateUser .card {
  min-width: 100px;
  background-color: rgb(0, 142, 26);
}

.formDemoUpdateUser .card form {
  margin-top: 2rem;
}

.formDemoUpdateUser .card .field {
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 960px) {
  .formDemoUpdateUser .card {
    width: 80%;
    padding: 0px;
  }
}
@media screen and (max-width: 640px) {
  .formDemo .card {
    width: 100%;
    min-width: 300px;
    padding: 0vw;
  }
}
.leaflet-container {
  width: 50vw;
  height: 50vh;
}

.profile {
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
  padding: 5vw;
}

.companies-box {
  padding: 100px;
}
.companies-box-title {
  text-align: center;
  border-bottom: 2px solid rgba(38, 102, 103, 0.63);
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
.companies-box-title-p1 {
  animation: slideInOut 20s linear infinite;
  font-size: 20px;
  transform-origin: 100% 50%;
  display: inline-block;
}
.companies-box-title-p2 {
  animation: slideInOut2 20s linear infinite;
  font-size: 30px;
  position: absolute;
  top: 50px;
  left: 30%;
}
.companies-box h2 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.companies-box-ul {
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0px;
}
.companies-box-ul-section {
  display: flex;
  overflow: hidden;
}
.companies-box .company-card {
  padding: 10px;
  margin: 10px;
  min-height: 300px;
  background-color: rgb(98, 148, 172);
  min-width: 350px;
}
.companies-box .company-card img {
  height: 140px;
  width: -moz-fit-content;
  width: fit-content;
}

.btn-ceo {
  padding: 5px 10px;
  border-radius: 4px;
  background-color: rgb(98, 148, 172);
}

.adsGalleyComponent {
  display: flex;
}

.adsGalleyComponent {
  display: flex;
  overflow-x: auto;
  border-bottom: 0.5px black solid;
  padding: 20px;
}

.advertisement {
  padding: 10px;
  margin-right: 10px;
  padding-top: 50px;
  min-width: 300px;
  box-shadow: 2px 2px 3px rgb(26, 11, 36);
}

@keyframes slideInOut {
  0% {
    transform: translateX(110%); /* Inicia fuera de la vista a la derecha */
  }
  100% {
    transform: translateX(-120%); /* Llega a la izquierda al final de la animación */
  }
}
@keyframes slideInOut2 {
  0% {
    opacity: 1;
  }
  17% {
    opacity: 1;
  }
  19% {
    opacity: 0;
  }
  79% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.usersScreen {
  padding: 60px 5vw;
}
.usersScreen-section {
  display: flex;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.255);
  margin-top: 10px;
  padding: 10px;
}
.usersScreen-section-divImg {
  position: relative;
}
.usersScreen-section-divImg img {
  width: 250px;
}
.usersScreen-section-divImg h4 {
  position: absolute;
  bottom: 0;
  text-shadow: 1px 1px 5px white;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
.usersScreen-section-divInfo {
  padding: 15px 10px;
}/*# sourceMappingURL=main.css.map */