@import "./styles/reset";
@import "./styles/var";
@import "./styles/mixin";
@import "./styles/loaders";


@import "./components/navbar/navbar";
@import "./components/register/register";
@import "./components/login/login";
@import "./components/footer/footer";
@import "./components/buttons/buttons";
@import "./components/profile/update/userUpdateForm";


@import "./screens/advertisement/advertisement";
@import "./screens/comment/comment";
@import "./screens/home/home";
@import "./screens/profile/profile";
@import "./screens/company/company";
@import "./screens/users/usersScreen";
